.card
  .card_content
    .card_title
      = card.title
    .card_content
      = card.content
    .dropdown
      = link_to '編集', edit_card_path(card), class: 'board-text'
      = link_to '削除', card_path(card.id), data: { method: 'delete', confirm: '本当に削除してよろしいですか' }, class: 'board-text'
    .card_detail
      = card.user.email
