.container
  %h2 New Board
  = form_with model: @board do |f|
    %div
      = f.label :eyecatch, 'Image'
    %div
      = f.file_field :eyecatch 
    %div
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :content, 'Description'
    %div
      = f.text_field :content, class: 'text'
    %div
      = f.submit 'Submit', class: 'btn-primary'